.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.role{
    flex: 1 1 250px;
    background-color: antiquewhite;
    color: black;
    margin: 5px;
    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills{
    
    background-color: antiquewhite;
    color: black;
    margin:  5px;
    height: 50vh;
}
.summary,
.WE{
    flex: 1 1 250px;
    background-color: antiquewhite;
    color: black;
    margin:  5px;
    height: 35vh;
}



.F1
{
    background-color: antiquewhite;
    color: black; 
    justify-content: space-between;
}

h1{
color: blueviolet;
align-content: center;
}

h2{
    color: rgb(15, 144, 62);
    align-content: center;
    }
    h3{
        color: rgb(226, 162, 43);
        align-content: center;
        }

